<%# ユーザーがサインインしているか判定する%>
<%= render partial: 'shared/header', model:@user %>
<div class = "title">
  <h2>在庫数引き落とし画面</h2>
</div>

<%= form_with(model: @stock,local: true) do |form| %>
  <table>
    <tr>
      <th>品名</th>
      <td><%= form.text_field :item, id: "stock-item",placeholder: "品名" %></td>
    </tr>
    <tr>
      <th>数量</th>
      <td><%= form.text_field :quantity, id: "stock-quantity",placeholder: "数量" %></td>
    </tr>
    <th>引き落とし数</th>
      <td><%= form.text_field :reduce, id: "stock-reduce",placeholder: "在庫引き落とし" %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= form.submit "在庫引き落とし", id:"stock-button" %></td>
    </tr>
  </table>
<% end %>
  