<h2>販売画面</h2>

<%= form_with(model: @stock,local: true) do |form| %>
  <%= form.text_field :item, placeholder: "品名" %>
  <%= form.text_field :quantity, placeholder: "数量" %>
  <%= form.text_field :price, placeholder: "単価" %>
  <%= form.submit "販売" %>
<% end %>