<%# ユーザーがサインインしているか判定する%>
<%= render partial: 'shared/header', model:@user %>
<div class = "title">
  <h2>在庫詳細画面</h2>
</div>

<table border= "1">
  <tr>
    <th>品名</th>
    <td>数量</td>
  </tr>
  <tr>
    <th><%= @stock.item %></th>
    <td><%= @stock.quantity %></td>
  </tr>
</table>
<%= link_to "販売" , edit_stock_path(@stock.id) %>
<%= link_to "削除", stock_path(@stock.id),method: :delete %>
<%= link_to 'トップ画面に戻る' ,  root_path, class: "item-red-btn" %>