<h2>購入履歴一覧画面</h2>
<div>
  <% @purchases.each do |purchase| %>
    <div>
      注文番号<%= purchase.order_no %>
      品名<%= purchase.item %>
      数量<%= purchase.quantity %>
      価格<%= purchase.price %>
    </div>
  <% end %>
</div>

<%= link_to 'トップ画面に戻る' ,  root_path, class: "item-red-btn" %>
<%= link_to '購入' ,  new_purchase_path, class: "item-red-btn" %>