<h2>販売履歴一覧画面</h2>
<table border= "1">
  <tr>
    <th>品名</th>
    <td>数量(個)</td>
    <td>単価(円)</td>
    <td>金額（円）</td>
    <td>担当者</td>
    <td>販売日時</td>
  </tr>
  <% @sum = 0 %>
  <% @sells.each do |sell| %>
    <tr>
      <th><%= sell.item %></th>
      <td><%= sell.quantity %></td>
      <td><%= sell.price%></td>
      <td><%= sell.quantity * sell.price %></td>
      <% @sum += sell.quantity * sell.price %>
      <td><%= sell.user.name %></td>
      <td><%= sell.created_at %></td>
    </tr>
  <% end%>
      <tr>
        <th><span class = "str">合計金額</span></th>
        <td></td>
        <td></td>
        <td><span class = "str"><%= @sum %></span></td>
        <td></td>
        <td></td>
      </tr>
</table>

<%= link_to 'トップ画面に戻る' ,  root_path %>