<h2>販売画面</h2>

<%= form_with(model: @sell, local: true) do |form|  %>
  <table>
    <tr>
      <th>販売番号</th>
      <td><%= form.text_field :sell_no, id: "sell-no",value: @sell.sell_no %></td>
    </tr>
    <tr>
      <th>品名</th>
      <td><%= form.text_field :item, id: "sell-item",value: @sell.item %></td>
    </tr>
    <tr>
      <th>数量</th>
      <td><%= form.text_field :quantity, id: "sell-quantity",value: @sell.quantity %></td>
    </tr>
    <tr>
      <th>金額</th>
      <td><%= form.text_field :price, id: "sell-price",value: @sell.price %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= form.submit "販売", id:"sell-button" %></td>
    </tr>
  </table>
<% end %>