<h1>販売管理システム トップページ</h1>

<div class="link">
  <li>
    <%= link_to "ログイン" ,class: "item-red-btn" %>
  </li>
  <li>
    <%= link_to '購入' ,class: "item-red-btn" %>
  </li>
  <li>
    <%= link_to '購入一覧' ,class: "item-red-btn" %>
  </li>
  <li>
    <%= link_to '在庫一覧'  ,class: "item-red-btn" %>
  </li>
  <li>
    <%= link_to '販売'  ,class: "item-red-btn" %>
  </li>
  <li>
    <%= link_to '販売一覧'  ,class: "item-red-btn" %>
  </li>
</div>